<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Fortinet Sample</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="ext-3.0.0/resources/css/ext-all.css" />
     <link rel="shortcut icon" href="favicon.ico" >
     <link rel="stylesheet" type="text/css" href="css/Ext.ux.form.LovCombo.css"/>
     <link rel="stylesheet" type="text/css" href="css/empty.css" id="theme"/>
    <link rel="stylesheet" type="text/css" href="css/file-upload.css"/>
    <link rel="stylesheet" type="text/css" href="css/desktop.css" />

    <link rel="stylesheet" type="text/css" href="css/login.css">
    <!-- GC -->
 	<!-- LIBS -->
 	<script type="text/javascript" src="ext-3.0.0/adapter/ext/ext-base.js"></script>
 	<!-- ENDLIBS -->

    <script type="text/javascript" src="ext-3.0.0/ext-all-debug.js"></script>

    <script type="text/javascript" src="js/famtree.js"></script>
    <script type="text/javascript" src="js/portal.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript" src="js/Util.js"></script>

    <script type="text/javascript" src="js/Ext.ux.util.js"></script>
    <script type="text/javascript" src="js/Ext.ux.form.LovCombo.js"></script>

    <script type="text/javascript" src="ext-3.0.0/examples/ux/MultiSelect.js"></script>
    <script type="text/javascript" src="ext-3.0.0/examples/ux/ItemSelector.js"></script>
    <script type="text/javascript" src="ext-3.0.0/examples/ux/FileUploadField.js"></script>

    <script type="text/javascript" src="js/User.js"></script>
    <script type="text/javascript" src="js/Group.js"></script>
    <script type="text/javascript" src="js/admin.js"></script>

  </head>
  <body>
<div id="header" class="x-hidden">
	<div style="margin:8px"><img src="images/fortinet_logo.gif"></div>
<!--
	<div style="float:right;margin:5px;" class="x-small-editor"><input type="button" value="Logout" id="logout" /></div>
-->
</div>
<div id="wallpaper" style="margin:0px;width:100%; height:100%;"><img src="images/desktop.jpg"></div>
  </body>
</html>
